@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>FONDO</title>
</head>
<body bgcolor="FFCECB">
    <div align="center">
        <img src="~/Images/nodata-found.png">
    </div>
    <table width="550" align=center>
        <tr>
            <td>

                <h1 style="color: #00319B">Lo sentimos no hay informacion disponible</h1>
                <br>
                
                <br>

            </td>
        </tr>
    </table>
</body>
</html>