@model System.Data.DataTable

@{
    ViewData["Title"] = "brkDlps";
}
<button type="button" class="glyphicon glyphicon-plus" >
   Holi
</button>
<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>
                TrayNumber                
            </th>
            <th>
                Jobs
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow dr in Model.Rows)
        {
            <tr>
                <td>
                    @dr["traynum"].ToString()
                </td>
                <td>
                    @dr["job_number"].ToString()
                </td>
            </tr>
        }
    </tbody>
</table>


