<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Eco2" connectionString="DRIVER={IBM INFORMIX ODBC DRIVER (64-bit)}; Host = 172.21.7.5;Server=optifacts_2010n;Service=9090;Protocol = sesoctcp;Database=optifacts;Uid=app_yue;pwd=Jrs$3751;" />
    <add name="Yue" connectionString="Data Source =MX-fileseco\sqleco;Database=Yue;User Id=user;Password=sesamo;"/>
    <add name="TrayTrack" connectionString="Data Source =MX-fileseco\sqleco;Database=TrayTrack;User Id=user;Password=sesamo;"/>
    <add name="Decide" connectionString="Data Source =usalnrxcpdb01;Database=ControlDecideECO2;User Id=as;Password=as;"/>
  </connectionStrings>
</configuration>